<h2>Friends of Hathaway Login</h2>
<h5>"God is in everything"</h5>
<%= form_tag session_path do %>
<div class="field">
	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email], :placeholder => "Email address" %>
</div>
<br>
<div class="field">
	<%= label_tag :password %>
	<%= password_field_tag :password, nil, :placeholder => "Password" %>
</div>
<br>
<div class="field">
	<%= label_tag :remember_me , :class => "checkbox small" do %>
	<%= check_box_tag :remember_me, 1, params[:remember_me] %>
	Remember me
	<% end %>
</div>
<div class="field">
	<%= submit_tag "Sign in" %>
</div>
<div class="messages">
	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash#{name}" %>
	<% end %>
</div>
<% end %>

