<!DOCTYPE html>
<html>
<head>
	<title>BBC Murder Mystery App</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= yield :stylesheet %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<nav class="site-navigation">
			<%= link_to "Home", root_path %>
			
			
			
			<% if current_user %>
			<%= link_to "Log-Out", log_out_path, method: :delete %>
			<% else %>
			<%= link_to "Log-In", login_path %>
			<%= link_to "Sign-Up", new_user_path %>
			<% end %>
		</nav>

		<header class="site-header">
			<h1>Welcome to Friends of Hathaway</h1>

			<h2>A home for fans of BBC murder mystery series past and present.</h2>
		</header>

		<%= yield %>
	</div>


</body>
</html>

